body
{
	background:linear-gradient(to right,red,yellow);
	letter-spacing: .7em;


	text-align: center;}
h1,h2
 {
	
	text-align: center;
	color:rgb(128,128,128);

 }
  h1{font-size: 100px;}h2{font-size: 50px;}h3{font-size: 30px;letter-spacing: 0;}
.color1,.color2
       {
	width: 90px;
	height: 40px;
       }